
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Data</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        </head>
<style>
    .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
    </style>
<body>
    <div align="center" class="tengah"><p align="center"></p>
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}   
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            <fieldset>
                                <legend class="text-center header">Form Edit</legend>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label>No.Kursi</label>
                                        <input type="text" name="no_urut" class="form-control" value="{{ data.no_urut }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-address-card"></i></span>
                                    <div class="col-md-8">
                                        <label>Nama</label>
                                        <input type="text" name="nama" placeholder="Masukan Nama" class="form-control" value="{{ data.nama }}"/>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label>Alamat</label>
                                        <input type="text"  id="alamat" name="alamat"  rows="7" class="form-control"  value="{{ data.alamat }}"/>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label for="jk">Jenis Kelamin:</label>
                                            <select name="jk" class="form-control">
                                              <option  selected>Pilih Jenis Kelamin: </option>
                                              {% for key, value in choices %}
                                              <option type="text" {% if data.jk == value %} selected{% endif %} name="jk">{{ value }}</option>
                                              {% endfor %}
                                            </select>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label for="hobi">Pilih Hobi:</label>
                                            <!-- for value, text in multiple_choices -->
                                            {% for value, text in multiple_choices %}
                                            <!-- {{ value }} -->
                                              <label class="form-check-label">
                                                <input type="checkbox" class="form-control" value="{{ value }}" {% if value in data.hobi %} checked="checked" {% endif %} name="hobi"> {{ text }}
                                              </label>
                                            {% endfor %}
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label>No.Telepon</label><p>
                                        <input type="number" name="no_tlp" placeholder="Masukan No Telepon" class="form-control" value="{{ data.no_tlp }}"/>  
                                    </div>
                                </div> 
    
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label for="img">Upload Image:</label>
                                            <input type="file" accept="image/*" onchange="loadFile(event)" value="{{data.img}}" class="form-control" name="img" >
                                            <img id="img" class="img-thumbnail">                               
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>
    </html>
